@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Mulish', sans-serif;
}

body{
    /*width: 100%;*/
    /*margin: auto;*/
}

.father{
    width: 100%;
    display: flex;
    justify-content: center;

}

.div-border{
    border: 1px solid black;
    margin-bottom: 50px;
    width: 50px;
}

/*======= Navbar ========*/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.head-logo{
    display: flex;
    justify-content: flex-start;
}

.head-logo img{
    width: 70%;
    padding-right: 15px;
}

.head-nav ul{
    display: flex;
    margin: 0;
}

.head-nav ul li{
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
}

.head-nav ul li a{
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
}

.head-nav ul li a:hover{
    font-weight: bold;
    opacity: 100;
}

#toggle{
    display: none;
}

/*====== Content hero ======*/

.container{
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
}

.container-hero-text.col-xl-6 {
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding-left: 0;
    padding-right: 12em;
}

img.img-fluid {
    width: 100%;
}

.container-hero-text h1{
    font-weight: bold;
    color: #000000;
}

.content-hero-text p{
    font-weight: 300;
    color: #7D7987;
}

.container-hero-text button {
    margin-top: 15px;
}

.container-hero-text  button a{
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    background: #458FF6;
    padding: 10px 25px 10px 25px;
    border-radius: 55px;
}

.container-hero-text button a:hover{
    padding: 10px 30px ;
}

.button2{
    display: none;
    margin-top: 3em;
}

.button2 a{
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    background: #458FF6;
    padding: 10px 25px 10px 25px;
    border-radius: 55px;
}

.button2 a:hover{
    padding: 15px 25px 15px 25px;
}

.button3{
    display: none;
    margin-top: 3em;
}

.button3 a{
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    background: #458FF6;
    padding: 10px 25px 10px 25px;
    border-radius: 55px;
}

.button3 a:hover{
    padding: 15px 25px 15px 25px;
}

/*=============== Our Services ==============*/

.services-header {
    text-align: center;
    margin-top: 150px;
}

.decoration{
    border-bottom: 2px solid black ;
    margin-left: 45em;
    margin-right: 45em;
    padding-top: 15px;
}

.services-header h1{
    font-weight: 700;
}

p.our-services {
    margin-left: 20em;
    margin-right: 20em;
    padding-top: 15px;
    font-weight: 300;
}

.services-option{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 8em;
    margin-right: 8em;
}

.services-menu{
    margin-top: 30px;
    width: calc(33.33% - 100px);
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.menu-icons {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 145px;
    display: flex;
}

.menu-children{
    padding-left: 20px;
    padding-right: 20px;
}

.content-text{
    height: 180px;
}

.menu-content h4{
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 700
}

.menu-content p{
    font-weight: 300;
}

.menu-button{
    padding-top: 35px;
    text-align: center;
}

.menu-button button{
    border: 1.4px solid #458FF6;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 30px;
    background: none;
}

.menu-button button a{
    text-decoration: none;
    font-weight: 700;
}

.menu-button button a:hover{
    padding: 15px 35px;
}


/*============ Leading healthcare providers ==================*/

.providers-healthcare{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.provider-img.col-xl-6 img{
    width: 100%;
}

.provider-content.col-xl-6{
    padding-left: 20px;
    padding-right: 20px;
}

.provider-content-text{
    padding-left: 8em;
}

.provider-content-text button{
    margin-top: 10px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    padding: 10px 30px;
    background: none;
}

.provider-content-text button a{
    font-weight: 700;
}

.provider-content-text button a:hover{
    padding: 10px 35px;
    text-decoration: none;
}


/*=========== Mobile App ===========*/

.mobile-app{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 150px ;
}

.mobile-img  img{
    width: 100%;
}

.mobile-content-text {
    padding-left: 6em;
    padding-right: 6em;
}

.mobile-content-text h1{
    font-weight: 700;
}

.mobile-content-text p{
    font-weight: 300;
}

.mobile-content-text button{
    border-radius: 55px ;
    border: 1.4px solid #458FF6;
    padding: 10px 30px;
    background: none;
}

.mobile-content-text button a{
    color: #007bff;
    text-decoration: none;
    font-weight: 700;
}

.mobile-content-text button a:hover{
    padding: 10px 35px;
}

/*======== Customer =======*/

.customer-comment{
    /*width: 80%;*/
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding:30px;
    margin-left: 15em;
    margin-right: 15em;
    color: #FFFFFF;
}

.comment-head{
    text-align: center ;
}

.comment-head h1{
    font-weight: 700;
}

.user-comment .user-comment-img{
    display: flex;
    align-items: center;
}

.user-comment-img h3{
    font-weight: 700;
}

.comment-content-user {
    display: flex;
    align-items: center;
}

.user-comment-img .user-comment-text{
    padding-left: 4em;
}

.comment-content-text{
    padding-left: 5em;
    padding-right: 5em;
}

.user-img-avatar{
    border-radius: 100%;
}

/*========= Check out =========*/

.checkout{
    /*display: flex;*/
}

.checkout-header {
    text-align: center;
    margin-top: 150px;
}

.checkout-content{
    margin-left: 15em;
    margin-right: 15em;
    display: flex;
    justify-content: space-evenly;
}

.checkout-menu{
    width: calc(33.33% - 35px);
    margin: auto;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 0 0 20px 20px;
}

.menu-table-img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.menu-table-content {
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

.menu-table-content h4{
    font-weight: 700;
    padding-top: 10px;
}

.menu-table-content p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.table-content-button button{
    color: #4089ED;
    font-weight: 700;
    padding-bottom: 10px;
    background: none;
}

/*======= Footer =======*/

/*footer{*/
/*    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);;*/
/*}*/
/*.footer{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-top: 150px;*/
/*}*/

/*.footer-menu.col-xl-6 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    padding: 0;*/
/*}*/


/*.footer-company.col-xl-6 {*/
/*    padding-left: 12em;*/
/*    padding-right: 12em;*/
/*}*/



/*===== MEDIA   =====*/
@media (max-width: 391px) {
    .body{
        width: 390px;
    }

    /*====  Header  ====*/

    .header{
        display: flex;
        justify-content: space-between;
    }

    header .head-logo{
        width: 50%;
        display: flex;
        /*align-items: center;*/
    }

    .head-nav nav ul {
        font-size: 10px;
    }

    .head-nav ul{
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .head-nav nav ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

    /*====  Container   ====*/

    .container{
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button2{
        display: block;
    }

    #toggle{
        display: flex;
        align-items: center;
    }

    .button{
        display: none;
    }

    .container-hero-text{
        display: flex;
        flex-wrap: wrap;

    }

    .container-hero-text p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .container-hero-text.col-xl-6 {
        padding-left: 1em;
        padding-right: 12em;
    }


    /*====  Menu Services   ====*/

    .services-header{
        /*width: 100%;*/
    }

    p.our-services {
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .services-option {
        /*display: flex;*/
    }

    .services-menu {

    }



    /*====  Provider    ====*/

    .providers-healthcare{
        display: flex;
        flex-direction: column-reverse;
    }

    .provider-content-text {
        /* padding-left: 8em; */
        padding: 0;
    }

    .provider-content-text h1 {
        /* padding-left: 8em; */
        font-weight: 700;
    }

    .provider-content-text p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .providers-healthcare button{
        display: none;
    }

    .button3{
        display: block;
        /*text-align: center;*/
        margin: auto;
        margin-top: 30px;
    }

    .provider-img.col-xl-6 img {
        width: 100%;
    }

    /*====  Mobile  ====*/
    .mobile-content-text {
        padding: 0;
    }

    .mobile-content-text p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .mobile-content-text button{
        display: none;
    }

    .mobile-content.col-xl-6 {
        padding-left: 20px;
    }

    .mobile-img img {
        width: 100%;
    }




}
